{
    "env": {
        "browser": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "rules": {
        "class-methods-use-this":"off",
        "import/extensions": "off",
        "no-underscore-dangle":"off"
    },
    "ignorePatterns": [
        "dist"
    ]
}
